body{
    font-family: sans-serif;
}

.background-list {
    width: 100%;
    height: 10em;
    background: url('https://www.shutterstock.com/image-illustration/iot-internet-things-industry-40-260nw-1495192142.jpg');
    border: none;
    box-shadow: none;
    background-repeat: no-repeat;
}

.background-list h3 {
    color: aliceblue;
    margin-top: 1em;
}

.avatar {
    position: absolute;
    top: 1.5em;
}

.button-s1 {
    --background: #0056f7;
    color: aliceblue;
    width: 10em;
    height: 1.7em;
    font-size: 15px;
}

.list-items .icons{
    font-size: 38px;
    color: #0057ed;
    opacity: 0.75;
}

.list-items p{
    font-weight: bold;
}

.ripple-parent {
    display: flex;
    // align-items: center;
    // justify-content: center;
  
    position: relative;
    overflow: hidden;
    user-select: none;
  }
  
  .rounded-rectangle {
    width: 100%;
    height: 25px;
    border-radius: 8px;
  }
  
  .circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }