<ion-menu contentId="main-content">
  <ion-header>
    <div class="background-list">
      <div class="text-center flex justify-center">
        <ion-avatar class="avatar w-24 h-24 mt-2">
          <img
            src="https://www.svgrepo.com/show/384674/account-avatar-profile-user-11.svg"
            alt="Profile picture" class="w-full rounded-full aspect-[0.99] max-w-[240px]" />
        </ion-avatar>
      </div>
    </div>
  </ion-header>
  <ion-content class="">
    <div class="flex list-items" *ngFor="let item of menuItem">
      <a href="pages{{ item.path }}" class="ion-activatable px-2 ripple-parent w-full  py-2">
        <div class="pr-4">
          <ng-icon class="icons" size="24" name="{{ item.icon }}"></ng-icon>
        </div>
        <p >{{ item.label }}</p>
        <ion-ripple-effect></ion-ripple-effect>
      </a>
    </div>
    <a (click)="logout()" class="list-items px-2 ripple-parent w-full  py-2">
      <div class="pr-4">
        <ng-icon class="icons" size="24" name="saxLogoutBold"></ng-icon>
      </div>
      <p>Log out</p>
      <ion-ripple-effect></ion-ripple-effect>
    </a>
  </ion-content>
</ion-menu>