<ion-content [fullscreen]="true" class="ion-padding">
  <div
    class="w-full border shadow roundede-md flex flex-wrap justify-between items-center"
    *ngFor="let widget of widgets | keyvalue"
  >
    <div
      class="w-full text-center bg-primary-500 text-white px-4 py-4 font-bold flex items-center gap-x-4"
    >
      <ion-icon name="power" class="text-2xl"></ion-icon>
      <h1 class="">{{widget.value.title}}</h1>
    </div>
    <div class="w-1/2 px-4 py-4" *ngFor="let item of widget.value.children">
      <h1 (click)="editBtn(item)" class="font-bold my-4">{{item.name}}</h1>
      <div class="flex h-10">
        <button
          (click)="updateBtnState(item)"
          class="px-4 py-2 rounded-md w-full"
          [ngClass]="item.state === 1 ? 'bg-primary-500 text-white shadow-md font-bold' : 'bg-gray-100'"
        >
          ON
        </button>
      </div>
    </div>
  </div>

  <app-line *ngIf="temperature" [data]="temperature"></app-line>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button id="open-action-sheet">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="bar-chart-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-action-sheet
    trigger="open-action-sheet"
    header="Actions"
    [buttons]="actionSheetButtons"
    (didDismiss)="handleAction($event)"
  ></ion-action-sheet>
</ion-content>
