.button-sl {
  --background: #0056f7;
  color: aliceblue;
  width: 10em;
  height: 1.7em;
  font-size: 16px;
}

.icon {
  font-size: 32px;
  margin-right: 1.1em;
  opacity: 0.5;
  padding-bottom: 0.35em;
  color: #000bde;
}

// .icon-edit{
//   position: absolute;
//   top: -1em;
// }

.backgound-av {
  width: 100%;
  background: #fcfcfc;
  position: relative;
}

.backgound-av::before {
  content: "";
  background: url("https://png.pngtree.com/thumb_back/fh260/background/20201029/pngtree-technological-background-internet-of-things-communication-network-innovation-technology-system-integration-image_443771.jpg");
  position: absolute;
  background-repeat: no-repeat;
  background-size:cover;
  width: 120%;
  height: 16em;
  top: -6em;
  left: -2em;
  clip-path: ellipse();
}
.avatar {
  position: absolute;
  top: 6.5em;
}
.avatar:hover .image {
  opacity: 0.3;
}

.avatar:hover .middle {
  opacity: 1;
}

.item {
  margin-bottom: 0.8em;
  background: white;
}

.list-items {
  margin-top: 13em;
}
.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}



